@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.list-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .layout-container {
    grid-template-columns: 1fr;
  }
}
